/* ==================================================================================== */

:root {
  /* Colors */
  --white: #fff;
  --black: #222222;
  --gray: #555555;
  --color-menu-btn: #000;
  --whitebg: transparent;
  --whiteheader: #fff;

  /* Header */
  --bg-primary: var(--whiteheader);

  /* Light mode */
  --page-bg: var(--whitebg);
  --title-1: var(--black);
  --text-color: var(--gray);
  --menu-btn-bg: var(--color-menu-btn);

}

.dark {
  --bg-primary: #252526;
  --page-bg: #252526;
  --title-1: var(--white);
  --text-color: var(--white);
  --menu-btn-bg: var(--white);
}


html,
body {
  height: 100%;
  // min-height: 100vh;
  line-height: 1;
  font-size: 16px;
  background-color: var(--page-bg);
  color: #4a556c;
  font-family: "Urbanist-Regular", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.swiper.swiper-featured,
.swiper.swiper-branding,
.swiper.swiper-app,
.swiper.swiper-digital,
.swiper.swiper-advancement,
.swiper.swiper-article,
.swiper.swiper-project {
  overflow: visible;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
}

/* Links */

a {
  color: inherit;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

ul,
ul li {
  list-style: none;
}

img {
  display: block;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type="email"],
input[type="tel"],
input[type="text"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* ==================================================================================== */

.container-sm {
  max-width: 842px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-form {
  max-width: 1088px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-md {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-xs {
  max-width: 1410px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-lg {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-slider {
  padding: 0 15px;
  max-width: 1320px;
  margin: 0 auto;
}

.container-max {
  max-width: 1950px;
  // padding: 0 15px;
  margin: 0 auto;
}

.container-right {
  /* overflow-x: hidden; */
  padding-left: calc((100% - 1320px) / 2 + 15px);

  @media (max-width: 1229px) {
    // padding-left: 15px;
    // padding-right: 15px;

    padding-left: 0px;
    padding-right: 0px;
  }
}

.tag {
  text-transform: uppercase;
}

.main {
  flex-grow: 1;
  padding-top: 138px;
}

body .logo__img,
body .logo__img-white {
  display: none;
}

body .logo__img {
  display: block;
}

body.dark .logo__img-white {
  display: block;
}

body.dark .logo__img {
  display: none;
}

body .action__button--menu-image,
body .action__button--menu-image-white {
  display: none;
}

body .action__button--menu-image {
  display: block;
}

body.dark .action__button--menu-image-white {
  display: block;
}

body.dark .action__button--menu-image {
  display: none;
}

@media (max-width: 768px) {
  .main {
    padding-top: 100px;
  }
}

@media (max-width: 768px) {

  .logo__img,
  .logo__img-white {
    width: 150px;
    height: 11.65px;
  }
}

.title {
  // font-family: "Urbanist-Black", sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 115.2px;
  letter-spacing: 0.48px;
  color: var(--title-1);
  text-transform: uppercase;

  position: relative;
}

.title-secondary {
  font-weight: 900;
  font-size: 64px;
  line-height: 76.8px;
  color: var(--title-1);
  text-transform: uppercase;
  margin-bottom: 16px;
}

.text-white {
  color: #fff;
  text-align: center;
  z-index: 1;
}

.text-bg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  width: 100%;
  height: 140px;
  background-color: #FF772A;
  border-radius: 81px;
  padding: 16px 20px;
  margin: 0 -40px;
  position: relative;
  z-index: -1;
}

.infinite-scroll-component {
  overflow-y: clip !important;
}

@media (max-width: 870px) {
  .text-bg {
    margin: 0 0px;
  }
}

@media (max-width: 620px) {
  .title {
    font-size: 86px;
    line-height: 105.2px;
  }
}

@media (max-width: 580px) {
  .title {
    font-size: 76px;
    line-height: 95.2px;
  }
}

@media (max-width: 540px) {
  .title {
    font-size: 66px;
    line-height: 85.2px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 56px;
    line-height: 75.2px;
  }
}

@media (max-width: 470px) {
  .title {
    font-size: 48px;
    line-height: 57.6px;
  }

  .text-bg {
    height: 46px;
  }

  // .magnetize .title {
  //   font-size: 32px;
  //   line-height: 38.4px;
  // }
}

.ellipse::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 45px;
  width: 218px;
  height: 96px;
  background-image: url("../../../public/img/section-begin/ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (max-width: 853px) {
  .ellipse::before {
    top: 125px;
    right: 150px;
  }
}

@media (max-width: 768px) {
  .ellipse::before {
    right: 0px;
  }
}

@media (max-width: 620px) {
  .ellipse::before {
    top: 105px;
    right: 0px;
  }
}

@media (max-width: 580px) {
  .ellipse::before {
    top: 95px;
    right: 0px;
  }
}

@media (max-width: 540px) {
  .ellipse::before {
    top: 85px;
    right: 0px;
  }
}

@media (max-width: 500px) {
  .ellipse::before {
    top: 70px;
    right: 0px;
  }
}

@media (max-width: 470px) {
  .ellipse::before {
    top: 0px;
    right: 0px;
    width: 123px;
    height: 46px;
  }
}

@media (max-width: 430px) {
  .ellipse::before {
    top: 60px;
    right: 35px;
  }
}

.our-service {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FF772A;
  margin-bottom: 16px;
  padding-left: 44px;
  position: relative;
}

.our-service::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  background-image: url("../../../public/img/section-begin/more.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.add {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #156AD4;
  padding-right: 44px;
  position: relative;
}

.add::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  background-image: url("../../../public/img/section-begin/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


@font-face {
  font-family: "Urbanist-Regular", sans-serif;
  src: url("../../app/fonts/Urbanist-Regular.eot") format("eot"),
    url("../../app/fonts/Urbanist-Regular.otf") format("otf"),
    url("../../app/fonts/Urbanist-Regular.woff2") format("woff2"),
    url("../../app/fonts/Urbanist-Regular.woff") format("woff"),
    url("../../app/fonts/Urbanist-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist-Medium", sans-serif;
  src: url("../../app/fonts/Urbanist-Medium.eot") format("eot"),
    url("../../app/fonts/Urbanist-Medium.otf") format("otf"),
    url("../../app/fonts/Urbanist-Medium.woff2") format("woff2"),
    url("../../app/fonts/Urbanist-Medium.woff") format("woff"),
    url("../../app/fonts/Urbanist-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist-SemiBold", sans-serif;
  src: url("../../app/fonts/Urbanist-SemiBold.eot") format("eot"),
    url("../../app/fonts/Urbanist-SemiBold.otf") format("otf"),
    url("../../app/fonts/Urbanist-SemiBold.woff2") format("woff2"),
    url("../../app/fonts/Urbanist-SemiBold.woff") format("woff"),
    url("../../app/fonts/Urbanist-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist-Bold", sans-serif;
  src: url("../../app/fonts/Urbanist-Bold.eot") format("eot"),
    url("../../app/fonts/Urbanist-Bold.otf") format("otf"),
    url("../../app/fonts/Urbanist-Bold.woff2") format("woff2"),
    url("../../app/fonts/Urbanist-Bold.woff") format("woff"),
    url("../../app/fonts/Urbanist-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist-Black", sans-serif;
  src: url("../../app/fonts/Urbanist-Black.eot") format("eot"),
    url("../../app/fonts/Urbanist-Black.otf") format("otf"),
    url("../../app/fonts/Urbanist-Black.woff2") format("woff2"),
    url("../../app/fonts/Urbanist-Black.woff") format("woff"),
    url("../../app/fonts/Urbanist-Black.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.menu__btn {
  position: relative;
  z-index: 999;
}

.menu__btn {
  --time: 0.1s;
  --width: 18px;
  --height: 40px;
  --line-height: 2px;
  --spacing: 3px;
  --color: #000;
  --radius: 0px;
  height: calc(var(--line-height)* 3 + var(--spacing)* 2);
  width: var(--width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--menu-btn-bg);
  border-radius: var(--radius);
  display: inline-block;
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  border-radius: var(--radius);
  background-color: var(--menu-btn-bg);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(-1*(var(--line-height) + var(--spacing)));
}

.nav-icon::after {
  top: calc(var(--line-height) + var(--spacing));
}

.nav-icon.nav-icon--active {
  background-color: rgba(0, 0, 0, 0);
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

@media (max-width: 991px) {

  .menu__btn .nav-icon.nav-icon--active::before,
  .nav-icon.nav-icon--active::after {
    background-color: var(--menu-btn-bg);
  }
}

.mobile-menu__nav {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 3.125rem .9375rem .9375rem .9375rem;
  background-color: var(--bg-primary);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 10;
}

.mobile-menu__nav-item {
  margin-bottom: 15px;
}

.mobile-menu__nav-link {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  position: relative;
}

.mobile-menu__nav-link::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -6px;
  background-color: #262723;
  transform: scale(0);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

.mobile-menu__nav-link:hover {
  color: #262723;
}

.mobile-menu__nav-link:hover::after {
  transform: scale(1);
}

.mobile-menu__nav-link.active {
  color: #262723;
}

.mobile-menu__nav-link.active::after {
  transform: scale(1);
}

/* section header start */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
  background-color: var(--bg-primary);
  transition: background-color 250ms ease-in;

  .logo {
    flex-shrink: 0;
    flex-grow: 1;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #F1F1F1;
    // background-color: var(--page-bg);
  }

  &__inner {
    padding: 47px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    position: relative;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 72px;
  }

  /* nav link */

  &__navLink {
    font-family: "Urbanist-Regular", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: var(--text-color);
    position: relative;
  }

  &__navLink::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -6px;
    background-color: #156AD4;
    transform: scale(0);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 150ms;
  }

  &__navLink:hover {
    color: #156AD4;
  }

  &__navLink:hover::after {
    transform: scale(1);
  }
}

.action {
  &__buttonMenu {
    max-width: 100%;
    width: 176px;
    height: 44px;
    padding: 4px 22px;
    border-radius: 100px;
    border: 1px solid var(--text-color);
    ;
    font-family: "Urbanist-Regular", sans-serif;
    font-size: 20px;
    line-height: 34px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 250ms ease-in;
  }

  &__buttonMenu:hover {
    opacity: .8;
  }

}

.active {
  color: #156AD4;
}

.active::after {
  transform: scale(1);
}

@media (max-width: 1150px) {
  .header__nav {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .header__inner {
    padding: 44px 0;
  }
}



/* section header end */

/* section trusted-by start */

.trusted-by {
  padding: 57px 0 57px 0;

  &__wrapper {
    overflow: hidden;
  }

  &__title {
    font-family: "Urbanist-Regular", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    color: var(--title-1);
    margin-bottom: 42px;
  }

  // &__slider--wrapper  {
  //   margin: 0 -50px;
  // }
}

.brands {
  &__slide {
    margin-left: 25px;
    margin-right: 25px;
  }

  &__name {
    // font-family: "Urbanist-SemiBold", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 57.6px;
    text-transform: uppercase;
    text-wrap: nowrap;
    text-align: center;
    color: #555555;

    &.accent {
      color: #FF772A;
    }
  }
}

.slick-brands {
  cursor: grab;
}

.slick-brands:active {
  cursor: grabbing;
}

.slick-brands .slick-list {
  padding: 0 40px !important;
}

/* section trusted-by end */

@media (max-width: 1250px) {
  .brands__name {
    font-size: 25px;
    line-height: 35px;
  }
}

@media (max-width: 991px) {
  .trusted-by {
    padding: 54px 0 54px 0;
  }

  .trusted-by__title {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
  }



  .brands__slide {
    // margin-left: 12px;
    // margin-right: 12px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .slick-brands .slick-list {
    padding: 0 0px !important;
    margin: 0 -20px !important;
  }
}

@media (max-width: 620px) {
  // .slick-brands .slick-list {
  //   margin: 0 -100px !important;
  // }
}

@media (max-width: 600px) {
  .brands__name {
    font-size: 15px;
    line-height: 18px;
  }
}

/* section testimonials start */

.slider-testimonials {
  height: 555px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.testimonials {
  padding: 56px 0;

  &--wrapper {
    position: relative;
  }

  &__slider--wrapper {
    max-width: 1119px;
  }

  &__slider--controls {
    max-width: 90px;
    width: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &__slide--quote {
    padding-top: 102px;
    font-weight: 500;
    font-size: 48px;
    line-height: 67.2px;
    margin-bottom: 46px;
    color: var(--title-1);
    position: relative;
  }

  &__slide--quote::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    background-image: url("/img/section-testimonials/quote-up.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__slide--bottom {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__slide--image {
    border-radius: 50%;
  }

  &__slide--name {
    font-weight: 500;
    font-size: 24px;
    line-height: 38.4px;
    color: var(--title-1);
    margin-bottom: 4px;
  }

  &__slide--role {
    font-weight: 500;
    font-size: 16px;
    line-height: 25.6px;
    color: var(--text-color);
  }

  .buttons-container .swiper-pagination-bullets,
  .swiper-pagination-vertical.swiper-pagination-bullets {
    transform: translate3d(0px, 0%, 0);
  }

  .buttons-container .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 12px 0;
    display: block;
  }

  .buttons-container .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background: #F1F1F1;
    opacity: 1;
  }

  .buttons-container .swiper-pagination-bullet-active {
    opacity: 1;
    background: #156AD4;
  }

  .disabled-button {
    fill: #555;
  }

  .buttons-container .swiper-button-prev,
  .buttons-container .swiper-button-next {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #156AD4;
    border-radius: 50%;
  }

  .buttons-container .swiper-button-prev .disabled-button,
  .buttons-container .swiper-button-next .disabled-button {
    fill: #fff;
  }

  .buttons-container .swiper-button-prev.swiper-button-disabled,
  .buttons-container .swiper-button-next.swiper-button-disabled {
    opacity: 0.5;
    width: unset;
    height: unset;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
  }

  .buttons-container .swiper-button-prev.swiper-button-disabled .disabled-button,
  .buttons-container .swiper-button-next.swiper-button-disabled .disabled-button {
    fill: #555;
  }
}

@media (max-width: 1250px) {
  .slider-testimonials {
    // height: 572px;
    height: max-content;
  }

  .testimonials__slider--wrapper {
    max-width: 100%;
  }

  .testimonials__slider--controls {
    max-width: 343px;
    width: 100%;
    height: 50px;
    position: absolute;
    top: unset;
    right: 50%;
    bottom: 120px;
    transform: translateY(0%);
    transform: translateX(50%);
    z-index: 1;
  }

  .buttons-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
  }

  .testimonials__slide--quote {
    padding-top: 78px;
    font-weight: 500;
    font-size: 38px;
    line-height: 57px;
    margin-bottom: 137px;
    position: relative;
  }

  .testimonials .buttons-container .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-vertical {
    // width: unset;
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
  }

  .testimonials .buttons-container .swiper-button-prev,
  .testimonials .buttons-container .swiper-button-next {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }

  .testimonials .buttons-container .swiper-button-prev svg,
  .testimonials .buttons-container .swiper-button-next svg {
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);
  }

  .testimonials .buttons-container .swiper-pagination-bullets .swiper-pagination-bullet,
  .testimonials .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px 0;
  }

  .testimonials .buttons-container .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}

@media (max-width: 768px) {
  .testimonials__slide--quote {
    font-size: 24px;
    line-height: 38.4px;
    margin-bottom: 93px;
  }

  .testimonials__slide--image {
    width: 56px;
    height: 56px;
  }

  .testimonials__slide--name {
    font-weight: 500;
    font-size: 16px;
    line-height: 25.6px;
  }

  .testimonials__slide--role {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
  }

  .testimonials__slide--quote::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
  }

  .testimonials__slider--controls {
    height: 24px;
    bottom: 90px;
  }

  .testimonials .buttons-container .swiper-button-prev,
  .testimonials .buttons-container .swiper-button-next {
    width: 24px !important;
    height: 24px !important;
    background-color: transparent;
  }

  .testimonials .buttons-container .swiper-button-prev .disabled-button,
  .testimonials .buttons-container .swiper-button-next .disabled-button {
    fill: #555;
  }
}

.top--link {
  display: flex;
  align-items: center;
  column-gap: 8px;

  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #156AD4;
  text-wrap: nowrap;
}

.promo {
  position: absolute;
  bottom: 20px;
  right: 24px;
  width: 215px;
  height: 215px;
  border-radius: 50%;
  background-color: #156AD4;

  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .top--link {
    font-size: 16px;
    line-height: 26px;
  }
  .promo {
    width: 100px;
    height: 100px;
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 470px) {
  .promo {
    display: none;
  }
}

// section get_in_touch start 

.get_in_touch {
  padding: 42px 0 83px 0;
  .tag {
    font-weight: 500;
    font-size: 32px;
    line-height: 44.8px;
    color: #FF772A;
    margin-bottom: 16px;

    text-transform: uppercase;
  }
  .ellipse::before {
    top: unset;
    bottom: 11px;
    right: 190px;
  }
}

@media (max-width: 1310px) {
  .get_in_touch .ellipse::before {
    right: 170px;
  }
}

@media (max-width: 1290px) {
  .get_in_touch .title {
    font-size: 86px;
    line-height: 105.2px;
  }
}

@media (max-width: 1260px) {
  .get_in_touch .ellipse::before {
    right: 160px;
  }
}

@media (max-width: 1240px) {
  .get_in_touch .ellipse::before {
    right: 130px;
  }
}

@media (max-width: 1210px) {
  .get_in_touch .ellipse::before {
    right: 110px;
  }
}

@media (max-width: 1190px) {
  .get_in_touch .title {
    font-size: 76px;
    line-height: 95.2px;
  }

  .get_in_touch .ellipse::before {
    width: 174px;
    height: 77px;

    right: 175px;
  }
}

@media (max-width: 1170px) {
  .get_in_touch .title {
    font-size: 66px;
    line-height: 85.2px;
  }

  .get_in_touch .ellipse::before {
    width: 139px;
    height: 62px;
    right: 30px;
  }
}

@media (max-width: 1150px) {
  .get_in_touch .ellipse::before {
    right: 0px;
  }
}

@media (max-width: 1125px) {
  .get_in_touch .title {
    font-size: 56px;
    line-height: 75.2px;
  }

  .get_in_touch .ellipse::before {
    right: 45px;
  }
}

@media (max-width: 1105px) {
  .get_in_touch .ellipse::before {
    right: 0;
  }
}

@media (max-width: 1055px) {
  .get_in_touch .title {
    font-size: 48px;
    line-height: 57.6px;
  }

  .get_in_touch .ellipse::before {
    width: 123px;
    height: 46px;
    right: 50px;
  }
}

@media (max-width: 1030px) {
  .get_in_touch .ellipse::before {
    right: 0px;
  }
}

@media (max-width: 991px) {
  .get_in_touch .title {
    font-size: 76px;
    line-height: 95.2px;
  }

  .get_in_touch .ellipse::before {
    width: 139px;
    height: 62px;
    right: 120px;
  }
}

@media (max-width: 940px) {
  .get_in_touch .ellipse::before {
    right: 75px;
  }
}

@media (max-width: 895px) {
  .get_in_touch .ellipse::before {
    right: 25px;
  }
}

@media (max-width: 840px) {
  .get_in_touch .title {
    font-size: 66px;
    line-height: 85.2px;
  }

  .get_in_touch .ellipse::before {
    right: 55px;
  }
}

@media (max-width: 790px) {
  .get_in_touch .ellipse::before {
    right: 0px;
  }
}

@media (max-width: 768px) {
  .get_in_touch {
    padding: 24px 0 30px 0;
  }

  .get_in_touch .tag {
    font-size: 24px;
    line-height: 38.4px;
    margin-bottom: 24px;
  }
}

@media (max-width: 735px) {
  .get_in_touch .title {
    font-size: 56px;
    line-height: 75.2px;
  }

  .get_in_touch .ellipse::before {
    right: 45px;
  }
}

@media (max-width: 695px) {
  .get_in_touch .ellipse::before {
    right: 15px;
  }
}

@media (max-width: 670px) {
  .get_in_touch .ellipse::before {
    right: 0px;
  }
}

@media (max-width: 650px) {
  .get_in_touch .title {
    font-size: 48px;
    line-height: 57.6px;
  }

  .get_in_touch .ellipse::before {
    width: 123px;
    height: 46px;
    right: 60px;
  }
}

@media (max-width: 620px) {
  .get_in_touch .ellipse::before {
    right: 0px;
  }
}

@media (max-width: 430px) {
  .get_in_touch .ellipse::before {
    right: 0px;
  }
}

.loadMore_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 26px 0;
}

.loadMore {
  max-width: 145px;
  width: 100%;
  height: 64px;
  padding: 15px 24px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 20px;
  line-height: 34px;

  transition: all 250ms ease-in;
}

.loadMore:hover {
  opacity: .8;
}

.loading_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background-color: #555555;
}

@media (max-width: 991px) {
  .articles {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
}

/* section posts end */